#count{
    display: block;
    text-align: center;
    font-size: 10em;
}

#btnContainer{
    text-align: center;
}

button{
    color: rgb(255, 255, 255);
    background-color: rgb(163, 246, 130);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
button:hover{
    background-color: rgb(106, 244, 51);;
}